/* *********** Textos ********** */

body {background-color:white;}
h1 {color:navy}
h2 {color:teal}
h3 {color:green}
h4 {color:black}
h5 {color:gray}
p {color: black;}
ol {color:black}
ul {color:black}
dl {color:black}
em {color:black; font-weight: bold}
i {color:black}
b {color:black}
small {color:maroon}
strong {color:red}

/* *********** Comentarios *********** */

blockquote {
    font-style: italic;
    font-weight: bold;
    color:dimgray;
    background:palegoldenrod;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }

  blockquote p {
    display: inline;
  }

/* *********** Top Menu *********** */

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }

/* *********** Image Tab *********** */

  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* *********** Side Menu *********** */
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* *********** Center image *********** */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* *********** Tables *********** */
table, th, td {
  border: 1px solid black;
}